*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: black;
    color: white;
}
header{
    height: 70px;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
}
nav{
    display: flex;
    gap: 25px;
}
nav a{
    color: white;
    text-decoration: none;
}
p{
    width: 800px;
    
}
div{
    
    display: inline-block;
    margin-left: 60px;
}
img{
    height: 200px;
    width: 200px;
    position: relative;
    top: 50px;
    left: 40px;
    
}