*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    margin-top: 200px;
    
}
div{
    box-shadow: 0 15px 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1{
    padding-bottom: 20px;
}